.admin_grid{
    margin-top: 1em;
    width: 400px;
}
.admin_grid img{
    border: 0;
    vertical-align: middle;
}

a.add_link, a.edit_link, a.importar_link, a.fase_link, a.tipo_item_link, a.responsable_link, a.descarga_link, a.item_link, a.costo_link, a.aprobado_link, a.listo_link, a.desarrollar_link, a.caracteristica_link, a.reversion_link, a.archivo_link, a.relacion_link, a.linea_base_link{
    background-repeat: no-repeat;
    padding-left: 20px;
}

a.add_link{
    background-image: url('/images/add.png');
}
a.edit_link{
    background-image: url('/images/pencil.png');
}
a.importar_link{
    background-image: url('/images/importar.png');
}
a.fase_link{
    background-image: url('/images/fases.png');
}
a.tipo_item_link{
    background-image: url('/images/tipos_item.png');
}
a.responsable_link{
    background-image: url('/images/responsable.png');
}
a.descarga_link{
    background-image: url('/images/descarga.png');
}
a.caracteristica_link{
    background-image: url('/images/caracteristica.png');
}
a.item_link{
    background-image: url('/images/items.png');
}
a.desarrollar_link{
    background-image: url('/images/desarrollar.png');
}
a.costo_link{
    background-image: url('/images/costo.png');
}
a.listo_link{
    background-image: url('/images/listo.png');
}
a.aprobado_link{
    background-image: url('/images/aprobado.png');
}
a.reversion_link{
    background-image: url('/images/reversionar.png');
}
a.archivo_link{
    background-image: url('/images/archivo.png');
}
a.relacion_link{
    background-image: url('/images/relacion.png');
}
a.linea_base_link{
    background-image: url('/images/add.png');
}
/* admin list view */
.crud_table .grid {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.crud_table .grid .odd{
    background-color: #eee;
}
.crud_table .grid th{
    background: url("/images/menubg.png") no-repeat scroll -20px top transparent;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
}
.crud_table .grid td a{
    color: #286571;
}
.crud_table .grid td.col_0 div{
    float: left;
}
.crud_table .grid td.col_0 .edit_link, .crud_table .grid td.col_0 .delete-button{
    display:block;
    height:17px;
    width:20px;
    padding:0;
    text-indent:-400px;
    background-repeat: no-repeat;
}
.crud_table .grid td.col_0 .delete-button{
    font-size: inherit;
    background-image: url('/images/delete.png');
    cursor: pointer;
}

/* admin add/edit view */
.crud_edit label, .crud_add label{
    font-size: 12px;
}
.crud_edit input, .crud_add input,
.crud_edit select, .crud_add select{
    width: 15em;
}
