<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>SAIP</title>
</head>

<body>
    ${sidebar_top()}
    
    <button py:if="permiso_responsables"><a href = "/admin/responsables">Responsables</a></button>
    <button py:if="permiso_roles"><a href = "/admin/roles">Roles</a></button>
    <button py:if="permiso_proyectos"><a href = "/admin/proyectos">Proyectos</a></button>
    <button py:if="permiso_usuarios"><a href = "/admin/usuarios">Usuarios</a></button>

    <div class="clearingdiv" />
    <div class="notice"> Usted se encuentra en el módulo de administración.
    </div>
</body>
</html>
