<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
<title>${tmpl_context.title} - Costo de ${model}</title>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
<center><IMG SRC="/images/grafo.png"/>
<p><label id="costo.label" for="costo" class="fieldlabel required">Costo de impacto = ${costo}</label></p> 
</center>
</body>
</html>
