<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
<title>${tmpl_context.title} - Listado de ${model}</title>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>
  <div id="main_content">
    <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())"><a href="../${lower}s">$item.__name__</a></li>
        </ul>
    </div>

    <div style="float:left; width:80%">
      <h1 style="margin-top:1px;">Selección de ítems de nueva línea base</h1>
        <script type="text/javascript" LANGUAGE="JavaScript">
            function verificar() {
                var grupo = document.getElementById("01").seleccionados;
                var band = 0;
                for (i = 0; lcheck = grupo[i]; i++) {
                    if (lcheck.checked) {
                        band = band + 1;
                    }
                }
                if (band == 0 || band == i){
                    alert("Marque una o mas lineas base, pero no todas");
                    return false;
                }
                return true;
            }
        </script>
        <form action= "${accion}" method="post" id="01" onSubmit="return verificar()">
            <li py:for="item in items">${item.nombre}:<input type="checkbox" name="seleccionados" value="${item.id}"  /><br /></li>
            <div>
                Descripcion: <input type="text" name="descripcion" />
            </div>
            <input type="submit" value="Dividir"/>
        </form>
    
    </div>
  </div>
  <div style="clear:both;"/>

</body>
</html>
