<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>${tmpl_context.title} - Edit ${model}</title>
<head>
<link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/calendar/calendar-system.css" media="all" /> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar.js"></script> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar-setup.js"></script> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/lang/calendar-en.js"></script> 

<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/additional-methods.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript">
	//initiate validator on load

    jQuery.validator.addMethod("fecha", function(value, element) { 
    return Date.parseExact(value, "yyyy/M/d");
    });

	$(document).ready(function() {
		// validate contact form on keyup and submit
		$("#registerForm").validate({
            onkeyup: false ,
			//set messages to appear inline
			messages: {
				nombre: "Por favor introduzca un valor"
			}
		});
	});
</script>
<style type="text/css">
.error {
	color: red;
	font: 16pt verdana;
	padding-left: 10px
}
</style>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>

  <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())"><a href="../${lower}s/">$item.__name__</a></li>
       </ul>
  </div>
  <div style="float:left;" class="crud_edit">
    <h2 style="margin-top:1px;">Edit $model</h2>
     <form id="registerForm" action="./" method="post" class="required tableform" enctype="multipart/form-data"> 
    <div> 
            <input type="hidden" name="sprox_id" class="hiddenfield" id="sprox_id" value="" /> 
            <input type="hidden" name="_method" class="sproxmethodputhiddenfield" id="_method" value="PUT" /> 
    </div> 
    <table border="0" cellspacing="0" cellpadding="2"> 
         <tr id="nombre.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="nombre.label" for="nombre" class="fieldlabel required">Nombre</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="nombre" name="nombre" class="required textarea" rows="7" cols="50">${value.nombre}</textarea> 
            </td> 
        </tr><tr id="descripcion.container" class="odd" title=""> 
            <td class="labelcol"> 
                <label id="descripcion.label" for="descripcion" class="fieldlabel">Descripcion</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="descripcion" name="descripcion" class="textarea" rows="7" cols="50">${value.descripcion}</textarea> 
            </td> 
        </tr><tr id="observaciones.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="observaciones.label" for="observaciones" class="fieldlabel">Observaciones</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="observaciones" name="observaciones" class="textarea" rows="7" cols="50">${value.observaciones}</textarea> 
            </td> 
        </tr><tr id="prioridad.container" class="odd" title=""> 
            <td class="labelcol"> 
                <label id="prioridad.label" for="prioridad" class="fieldlabel required">Prioridad</label> 
            </td> 
            <td class="fieldcol">
    <select name="prioridad" class="singleselectfield" id="prioridad"> 
        <option py:if="value.prioridad == 1" value="1" selected = "selected">1</option>
        <option py:if="value.prioridad != 1" value="1">1</option>
        <option py:if="value.prioridad == 2" value="2" selected = "selected">2</option>
        <option py:if="value.prioridad != 2" value="2">2</option>
        <option py:if="value.prioridad == 3" value="3" selected = "selected">3</option>
        <option py:if="value.prioridad != 3" value="3">3</option>
        <option py:if="value.prioridad == 4" value="4" selected = "selected">4</option>
        <option py:if="value.prioridad != 4" value="4">4</option>
        <option py:if="value.prioridad == 5" value="5" selected = "selected">5</option>
        <option py:if="value.prioridad != 5" value="5">5</option>
        <option py:if="value.prioridad == 6" value="6" selected = "selected">6</option>
        <option py:if="value.prioridad != 6" value="6">6</option>
        <option py:if="value.prioridad == 7" value="7" selected = "selected">7</option>
        <option py:if="value.prioridad != 7" value="7">7</option>
        <option py:if="value.prioridad == 8" value="8" selected = "selected">8</option>
        <option py:if="value.prioridad != 8" value="8">8</option>
        <option py:if="value.prioridad == 9" value="9" selected = "selected">9</option>
        <option py:if="value.prioridad != 9" value="9">9</option>
        <option py:if="value.prioridad == 10" value="10" selected = "selected">10</option>
        <option py:if="value.prioridad != 10" value="10">10</option>
        </select>  
            </td> 
        </tr><tr id="complejidad.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="complejidad.label" for="complejidad" class="fieldlabel required">Complejidad</label> 
            </td> 
            <td class="fieldcol">
    <select name="complejidad" class="singleselectfield" id="complejidad"> 
        <option py:if="value.complejidad == 1" value="1" selected = "selected">1</option>
        <option py:if="value.complejidad != 1" value="1">1</option>
        <option py:if="value.complejidad == 2" value="2" selected = "selected">2</option>
        <option py:if="value.complejidad != 2" value="2">2</option>
        <option py:if="value.complejidad == 3" value="3" selected = "selected">3</option>
        <option py:if="value.complejidad != 3" value="3">3</option>
        <option py:if="value.complejidad == 4" value="4" selected = "selected">4</option>
        <option py:if="value.complejidad != 4" value="4">4</option>
        <option py:if="value.complejidad == 5" value="5" selected = "selected">5</option>
        <option py:if="value.complejidad != 5" value="5">5</option>
        <option py:if="value.complejidad == 6" value="6" selected = "selected">6</option>
        <option py:if="value.complejidad != 6" value="6">6</option>
        <option py:if="value.complejidad == 7" value="7" selected = "selected">7</option>
        <option py:if="value.complejidad != 7" value="7">7</option>
        <option py:if="value.complejidad == 8" value="8" selected = "selected">8</option>
        <option py:if="value.complejidad != 8" value="8">8</option>
        <option py:if="value.complejidad == 9" value="9" selected = "selected">9</option>
        <option py:if="value.complejidad != 9" value="9">9</option>
        <option py:if="value.complejidad == 10" value="10" selected = "selected">10</option>
        <option py:if="value.complejidad != 10" value="10">10</option>
        </select>  
            </td> 
        </tr>
	<table>
        	<div xmlns:py="http://genshi.edgewall.org/" py:for="i in caracteristicas">
    			<tr>	
				<td> 
					<label> ${i.nombre} </label>         			
				</td>
    	    			<td>
                <input py:if="i.tipo == 'entero'" name= "${i.nombre}" title="Por favor introduzcan un valor numérico" type="text" class="number" value="${value.anexo[i.nombre]}"/>
				<input py:if="i.tipo == 'fecha'" name= "${i.nombre}" title="Por favor introduzca una fecha valida (AAAA/MM/DD)" type="text" class="fecha" value="${value.anexo[i.nombre]}"/> 
				<input py:if="i.tipo == 'cadena'" name= "${i.nombre}" title="Por favor introduzca un valor" type="text" value="${value.anexo[i.nombre]}"/>  
				</td>
        		
    			</tr>
			</div>
    </table>	
		<input name= "tipo_item" type="hidden" value="${tipo_item}" />
        <tr id="submit.container" class="even" title="">
            <td class="labelcol"></td>
            <td class="fieldcol"><input type="submit" class="submitbutton" value="Submit" /></td>
        </tr> 
    </table>
 
</form> 
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>
</body>
</html>
