<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head/>
<body>
  <div style="height:0px;"> &nbsp; </div>
  <div>
    <div style="float:left width: 80%">
      <h1 style="margin-top:1px;">Listado de fases</h1>
        <table>
          <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha_inicio</th>
          </tr>
          <tr py:for="i, fase in enumerate(fases)" class="${i%2 and 'even' or 'odd'}">
            <td><a href="./${fase.id}/lineas_base/">${fase.nombre}</a></td>
            <td>${fase.descripcion}</td>
            <td>${fase.fecha_inicio}</td>
          </tr>
        </table>
    </div>
  </div>
</body>
</html>

