<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
<title>${tmpl_context.title} - Listado de ${model}</title>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>
  <div id="main_content">
    <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
        </ul>
    </div>


  <div style="float:left;" class="crud_add"> 
    <h2 style="margin-top:1px;">New Relacion</h2> 
     <form action="./" method="post" class="required tableform"> 
    <div> 
            <input type="hidden" name="sprox_id" class="hiddenfield" id="sprox_id" value="" /> 
    </div> 
    <table border="0" cellspacing="0" cellpadding="2"> 
        <tr id="item_2.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="item_2.label" for="item_2" class="fieldlabel">Item Padre/Antecesor</label> 
            </td> 
            <td class="fieldcol"> 
                <select name="item_2" class="propertysingleselectfield" id="item_2">
   <span xmlns:py="http://genshi.edgewall.org/" py:for="item in items"> 
        <option value="${item.id}">${item.nombre}(${item.codigo})</option>
   </span>
</select> 
            </td> 
        </tr><tr id="submit.container" class="odd" title=""> 
            <td class="labelcol"> 
            </td> 
            <td class="fieldcol"> 
                <input type="submit" class="submitbutton" value="Submit" /> 
            </td> 
        </tr> 
    </table> 
</form> 
  </div> 
  <div style="height:0px; clear:both;">   </div> 
  </div> 
</body> 
</html>
