<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>${tmpl_context.title} - New ${model}</title>

<head>
<link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/calendar/calendar-system.css" media="all" /> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar.js"></script> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar-setup.js"></script> 
<script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/lang/calendar-en.js"></script> 

<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/additional-methods.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript">
	//initiate validator on load

    jQuery.validator.addMethod("fecha", function(value, element) { 
    return Date.parseExact(value, "yyyy/M/d");
    });

	$(document).ready(function() {
		// validate contact form on keyup and submit
		$("#registerForm").validate({
            onkeyup: false ,
			//set messages to appear inline
			messages: {
				nombre: "Por favor introduzca un valor"
			}
		});
	});
</script>
<style type="text/css">
.error {
	color: red;
	font: 16pt verdana;
	padding-left: 10px
}
</style>
  
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>

  <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())"><a href="../${lower}s/">$item.__name__</a></li>
       </ul>
  </div>
  <div style="float:left;" class="crud_add">
   <h2 style="margin-top:1px;">New $model</h2>
    
<form id="registerForm" action="./" method="post" class="required tableform"> 
    <div> 
            <input name= "tipo_item" type="hidden" id="tipo_item"  value="${value.tipo_item}" />
    </div> 
    <div> 
            <input type="hidden" name="sprox_id" class="hiddenfield" id="sprox_id" value="" /> 
    </div> 
    <table border="0" cellspacing="0" cellpadding="2"> 
         <tr id="nombre.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="nombre.label" for="nombre" class="fieldlabel required">Nombre</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="nombre" name="nombre" class="required textarea" rows="7" cols="50"></textarea> 
            </td> 
        </tr><tr id="descripcion.container" class="odd" title=""> 
            <td class="labelcol"> 
                <label id="descripcion.label" for="descripcion" class="fieldlabel">Descripcion</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="descripcion" name="descripcion" class="textarea" rows="7" cols="50"></textarea>
            </td> 
        </tr><tr id="observaciones.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="observaciones.label" for="observaciones" class="fieldlabel">Observaciones</label> 
            </td> 
            <td class="fieldcol"> 
                <textarea id="observaciones" name="observaciones" class="textarea" rows="7" cols="50"></textarea> 
            </td> 
        </tr><tr id="prioridad.container" class="odd" title=""> 
            <td class="labelcol"> 
                <label id="prioridad.label" for="prioridad" class="fieldlabel required">Prioridad</label> 
            </td> 
            <td class="fieldcol"> 
        <select name="prioridad" class="singleselectfield" id="prioridad"> 
        <option value="1">1</option><option value="2">2</option><option value="3">3</option> 
        <option value="4">4</option><option value="5">5</option><option value="6">6</option> 
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option>
        </select> 
            </td> 
        </tr><tr id="complejidad.container" class="even" title=""> 
            <td class="labelcol"> 
                <label id="complejidad.label" for="complejidad" class="fieldlabel required">Complejidad</label> 
            </td> 
            <td class="fieldcol"> 
                <select name="complejidad" class="singleselectfield" id="complejidad"> 
        <option value="1">1</option><option value="2">2</option><option value="3">3</option> 
        <option value="4">4</option><option value="5">5</option><option value="6">6</option> 
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option>
        </select> 
            </td> 
        </tr>
    	<div xmlns:py="http://genshi.edgewall.org/" py:for="i in caracteristicas">
			<tr>	
			<td> 
				<label> ${i.nombre} </label>         			
			</td>
	    			<td>
				<input py:if="i.tipo == 'entero'" name= "${i.nombre}" title="Por favor introduzcan un valor numérico" type="text" class="number" value=""/>
				<input py:if="i.tipo == 'fecha'" name= "${i.nombre}" title="Por favor introduzca una fecha valida (AAAA/MM/DD)" type="text" class="fecha" value=""/> 
				<input py:if="i.tipo == 'cadena'" name= "${i.nombre}" title="Por favor introduzca un valor"  type="text" value=""/>  
			</td>
    		
			</tr>
		</div>
            <tr class="even" id="submit.container" title="" >
                <td class="labelcol">
                </td>
                <td class="fieldcol" >
                    <input type="submit" class="submitbutton" value="Submit" />
                </td>
            </tr>
    </table> 
</form> 
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>
</body>
</html>
